---
- name: Install Packages | apt | build dependencies
  apt:
    state: latest
    pkg: "{{ item }}"
  with_items: python_build_dependencies
  when: python_build_dependencies
  tags:
    - software-installation
    - using-apt
    - python

- name: Install Packages | apt
  apt:
    state: latest
    pkg: "{{ item }}"
  with_items:
    - python-dev
    - python-setuptools
    - python3
    - python3-setuptools
    - python3-dev
  tags:
    - software-installation
    - using-apt
    - python

- name: Install Packages | easy_install
  easy_install:
    executable: "{{ python_easy_install_executable }}"
    name: pip
  tags:
    - software-installation
    - using-easy_install
    - python

- name: "Install Packages | pip | {{ python_packages }}"
  pip:
    executable: "{{ python_pip_executable }}"
    state: latest
    name: "{{ item }}"
  with_items: python_packages
  when: python_packages
  tags:
    - software-installation
    - using-pip
    - python

- name: Install Packages | pip | requirements file
  pip:
    executable: "{{ python_pip_executable }}"
    state: latest
    requirements: "{{ python_requirements_file }}"
  when: python_requirements_file != 'omit'
  tags:
    - software-installation
    - using-pip
    - python
